<div class="container-fluids">
  <div class="row">
    <nav class="col-3 vh-100 bg-blue px-4">
      <div class="position-sticky pt-3 d-flex flex-column justify-content-center align-items-center pt-5 px-3">
     
         <input type="text" placeholder="Search for a city..." #inputField>
          <i class="fa-solid fa-magnifying-glass"></i>
        
        <div class="card bg-blank pt-5">
          <div class="card-body pt-5">
            <div class="d-flex justify-content-between align-items-center py-2">
              <h4>{{reqSearch}}</h4>
              <div  class="d-flex justify-content-between align-items-center">
                <img src="../../../assets/icon/sunrise.png">
                <span class="pt-2 px-3">   {{sunrise}}</span>
              </div>              
            </div>
            <div class="d-flex justify-content-between align-items-center py-2" >
              <p>{{TimeStamp}}</p>
              <div  class="d-flex justify-content-between align-items-center">
                <img src="../../../assets/icon/sunset.png">
                <span class="pt-2 px-3">   {{sunset}}</span>
              </div>   
            </div>
            <div class="d-flex justify-content-center pt-5 ">
              <h1 class="font-100">{{celsius}}&deg; </h1>
            </div>            
          </div>
        </div>
      </div>
    </nav>

    <main class="col-9 bg-blueLight px-5 py-2">
      <header class="navbar flex-md-nowrap pb-5 ">
        <div class="pt-3">
          <h3>Welcome Back {{user}}</h3>
          <p>Check out today`s weather Information</p>
        </div>       
        <div class="navbar-nav px-5" >          
          <div class="nav-item text-nowrap">
            <a class="px-5" (click)="signOff()" class="pe-auto cursor-pointer"><img title="Sign Off" src="../../../assets/icon/power-off.png"></a>
          </div>
        </div>
      </header>
      <div class="col-12">
        <app-weather-graph [reqSearch]="reqSearch"></app-weather-graph>
      
      </div>
      <div class="d-flex justify-content-around pt-5 mt-5">
        <div class="col-3">
          <div class="card custom-card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5>Humidity</h5>
                <img src="../../../assets/icon/humidity.png">
              </div>
            <h1 class="primary-color text-center pt-4"> {{weatherReport?.main?.humidity}}%</h1>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card custom-card ">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5>Weather status</h5>
                <img src="../../../assets/icon/thermometer.png">
              </div>
             <h1 class="primary-color text-center pt-4"> 50% </h1>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card custom-card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5>Wind Info</h5>
                <img src="../../../assets/icon/wind.png">
              </div>
             <h1 class="primary-color text-center pt-4">  {{weatherReport?.wind.speed}} km </h1>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card custom-card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5>Cloud Info</h5>
                <img src="../../../assets/icon/cloud.png">
              </div>
             <h1 class="primary-color text-center pt-4"> 50% </h1>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
